.allStrips {
  width: 300px;
  background-color: gray;
  height: 100%;
  float:left;
}

.findStrips {
  width: 300px;
  bottom: 0;
  height: 50px;
  position: absolute;
  background-color: darkgray; bottom: 0;

}

.strip {
  background-color: darkgray;
  height: 30px;
}

textarea {
  width: 500px;
  height: 400px;
}

html, body {
  height:100%;
    margin: 0;
    padding: 0;
}